.h-container {
   display:inline-block;
}

.con {
    width: 600px;
    height: 40%;
    background-color: #C0C0C0;
    padding: 10px;
}
.base-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.answer {
  width: 100px;
  height: 40px;
  background-color: #00FFFF;
  border-radius: 40px;
  border: solid;
  text-align: center;
  border-width: 5px;
  border-color: #C0C0C0;
  float: left;
}

.answer-2 {
  width: 100px;
  height: 40px;
  background-color: #00FFFF;
  border-radius: 40px;
  border: solid;
  text-align: center;
  border-width: 5px;
  border-color: #C0C0C0;
  float:right;
}

.box {
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #C0C0C0;
    padding: 10px;
    font-size: 40px;
}
